apiVersion: v1
kind: PersistentVolume
metadata:
  annotations:
    pv.kubernetes.io/bound-by-controller: "yes"
  finalizers:
  - kubernetes.io/pv-protection
  name: {{ pv_name }}
spec:
  storageClassName: nfs-client
  accessModes:
  - ReadWriteMany
  capacity:
    storage: 20Gi
  nfs:
    path: {{ pv_path }}
    server: {{ nfs_server }}
  persistentVolumeReclaimPolicy: Recycle
  volumeMode: Filesystem
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: spark-worker-pvc
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 20Gi
  storageClassName: nfs-client
  volumeName: {{ pv_name }}