apiVersion: v1
kind: Service
metadata:
  labels:
    app: spark-master
  name: {{ spark_cluster_name }}
  namespace: {{ namespace }}
spec:
  externalTrafficPolicy: Cluster
  ports:
  - name: port-1
    port: 7077
    protocol: TCP
    targetPort: 7077
  - name: port-2
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: spark-master
  sessionAffinity: None
  type: NodePort